
$color-turquoise: #22A39F;
$color-white: #FFFFFF;
$color-black: #222222;
$color-gray: #777;
$color-sand: #F3EFE0;
$color-light-gray: #727878;
$color-dark-gray: #434242;

$breakpoints: (
    extra-large: 1450px,
    large: 1050px,
    big: 950px,
    pre-big: 900px,
    extra-medium: 750px,
);