

.contact {
    width: 60vw;
 
    @include defaultGrid {
        grid-column-gap: 3.5rem;

        @include mq(extra-medium) {
            grid-template-columns: 1fr;

        }
    }

    &__parent-grid {
        @include mq(big-mobile) {
            margin: .5rem !important;
        }
    }

    &__list { 
        list-style: none;
    }

    &__item {
        &:not(:first-child) {
            margin-top: 2rem;

            @include mq(extra-medium) {
                margin-top: 0;
            }
        }

        // background-color: red;
        display: flex;
        align-items: center;
        text-align: center;

        @include mq(extra-medium) {
            justify-content: left;
            margin-top: 1rem !important;
            margin-right: 3rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-sand;
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-in-out;
            
            @include mq(big) {
                font-size: 1.4rem;
            }
        }  
    }

    &__item:hover &__link:link, &__link:visited {
        color: rgba($color-sand, 0.6);
    }

    &__image {
        margin-right: 1rem;
        background-color: rgba(black, .05);
        border-radius: 50%;

        &--no_radius {
            border-radius: 0%;
        }
    }
}