

.profile {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 5rem;

    justify-content: center;
    align-items: flex-start;
    align-self: center;
    
    padding-top: 3rem;

    @include mq(big) {
        grid-template-columns: 50%;
        align-items: center;
    }

    @include mq(extra-medium) {
        grid-template-columns: 85%;

        h3 {
            font-size: 2.5rem;
            font-weight: 500;
        }
    }
    
    &__separator {
        width: 48%;
        opacity: .3;
        z-index: 500;

        @include mq(extra-medium) {
            width: 90vw !important;
        }
    }

    &__about {
        @include mq(big) {
            margin-bottom: 3rem;
        }

        @include mq(extra-medium) {
            * {
                text-align: center;
            }
        }
    }

    &__wrapper {
        margin: 0 auto;

        &--image {
            width: 24.6rem;
            height: 24.6rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: bottom right;
        }
    }

    &__details {
        @include mq(extra-medium) {
            margin-top: 4rem;
            * {
                text-align: center;
            }
        }
    }
}